<!--The content below is only a placeholder and can be replaced.-->
<div ng-app="myApp">
  <form id="formulario" ng-controller="formController">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Insert a number</label>
      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{number}}">
    </div>
    <button type="button" (click)='randomNumber()' class="btn btn-primary">Random number</button>
    <button type="button" (click)='getList(number)' class="btn btn-primary">Submit</button>
  </form>
</div>

<div id="tabla" *ngIf="isList">
  <table class="table table-hover">
    <tr >
      <th class="text-center">Number</th>
      <th class="text-center">Result</th>
    </tr>
    <tr *ngFor="let item of list;let indice=index">
      <td class="text-center"> {{indice}}
      <td class="text-center">{{item}}</td>
      </tr>
    </table>
</div>







